<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Animal Image</title>
</head>
<body>
    <div class="container">
        <h1>Here is your AI-generated image!</h1>
        <img src="{{ image_url }}" alt="Animal Image" id="animalImage">  <!-- Use dynamic image_url -->
        <a href="/">Go back</a>
    </div>
</body>
</html>
